@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Click <a asp-page="/Videogames/Index">here</a> or "My Favorite Video Games" in the Navigation Bar to see my favorite video games list, in no particular order.</p>
</div>
